#home-toolbar {
  min-height: 30px;
  /*color: #ff5300;*/
  color: #ffae60;
  /*background-color: #1c0c07;*/
  /*background-color: rgba(27, 16, 7, 0.86);*/
  background:
    linear-gradient(
      rgba(19, 5, 5, 0.86),
      rgba(19, 6, 6, 0.86)
    ),
      /* bottom, image */
    url(/src/assets/images/layout/woodbar.jpg);
  border-top: solid 1px black;
  border-bottom: solid 2px rgba(101, 41, 0, 0.63);
}

button {
  margin: 10px;
}
