<div id="home-content" fxFlex fxLayout="column">
  <app-carousel class="mat-elevation-z12"></app-carousel>
  <app-home-nav class="mat-elevation-z12"></app-home-nav>
  <div fxFlex class="inner-content" fxLayout="row">
    <div fxFlex>
      <h1 class="content-header">Destination Location</h1>
      <img class="underline-divider" src="images/divider.png">
      <p>
        Cody Country is the East Gateway to Yellowstone National Park.
        Nowhere else in the world will you find such an array of geysers,
        hot springs, and mud pots, as are found in Yellowstone.
      </p>
      <p>
        Buffalo Bill's Antlers Inn is a western pleasure with comfortable family atmosphere
        and Cody Country accommodations.
      </p>
      <p>
        Buffalo Bill's Antlers Inn offers donuts and hot coffee in the Lobby every morning.
        All rooms have wireless internet, cable and coffee makers
      </p>
      <p>
        Our Rooms include singles, doubles, a Jacuzzi Suite and two rooms especially equipped for handicapped visitors.
      </p>
      <p>
        Each room has individually handcrafted furnishings designed and built
        after the historic works of Thomas Molesworth.
        Each is as unique as nature itself, because each piece is crafted
        from wood twisted by burls or other natural events.
      </p>
    </div>
    <div fxFlex="5"></div>
    <div class="info-box-holders"
         fxFlex="35"
         fxLayout="column"
         fxLayoutAlign="center center"
    >
      <div fxFlex fxLayout="column">
        <app-info-box fxFlex>
          <h2>Great Pricing</h2>
          <hr/>
          <p>Seriously though we have the greatest pricing you'll ever see! Great Deals too!</p>
          <a class="recommendation" routerLink="/reservations">Check our prices today!</a>
        </app-info-box>
        <app-info-box fxFlex>
          <h2>Central Location</h2>
          <hr/>
          <p>And by central, we mean the middle of absolutely nowhere, but we assume that's what you're here for!</p>
        </app-info-box>
      </div>
    </div>
  </div>
</div>
